@use "@/u" as u;

.view {
  display: flex;
  justify-content: center;

  border-radius: 4px;
  border: 2px solid var(--p-border-primary-0500);
  background-color: var(--p-bg-primary-0900);

  transition: border-color u.$trtime_fast;

  &:hover {
    border-color: var(--p-border-primary-0900);
  }

  &:active,
  &:focus-within {
    border-color: var(--p-border-primary-1600);
  }
}

.input {
  outline: none;
  border: none;

  width: u.rem(50);
  padding: u.rem(5) 0;

  text-align: center;
  font-size: u.rem(14);
  line-height: u.rem(18);
  color: var(--p-text-primary-1300);

  background-color: transparent;

  transition: background-color u.$trtime_fast;

  &:hover {
    background-color: var(--p-bg-primary-1000);
  }

  &:focus {
    background-color: var(--p-bg-primary-1100);
  }
}

.button {
  border: none;
  outline: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  width: u.rem(28);

  text-align: center;
  font-size: u.rem(18);
  font-weight: 400;
  color: var(--p-text-primary-1300);

  background-color: transparent;

  transition: background-color u.$trtime_fast;

  &:hover {
    background-color: var(--p-bg-primary-1000);
  }

  &:focus {
    background-color: var(--p-bg-primary-1100);
  }

  &.button_border_left {
    border-left: 1px solid var(--p-border-primary-0500);
  }

  &.button_border_right {
    border-right: 1px solid var(--p-border-primary-0500);
  }

  &.button_delete {
    font-size: u.rem(16);
    color: var(--c-delete);
  }
}
