**/*.env

**/.config/
**/.cache/

bun.lock
yarn.lock
pnpm-lock.yaml
package.lock.json
**/node_modules/

**/build/
**/storage/
**/local_device/

/app/mobile-push/android/app/google-services.json
/app/mobile-push/android/.gradle
/app/mobile-push/android/.kotlin
/app/mobile-push/android/app/.cxx
/app/mobile-push/android/app/**/*.keystore
/app/mobile-push/ios
