PORT=8200

DB_NAME=fst
DB_PORT=5432
DB_USER=username
DB_PASSWORD=qwerty
DB_HOST=db

COOKIE_SECRET=string

JWTA_SECRET=string
JWTA_DURATION=1000 (in ms)
JWTR_SECRET=string
JWTR_DURATION=1000 (in ms)

ADMIN_EMAIL=email@gmail.com
ADMIN_PASSWORD=string

CLIENT_HOST=http://localhost:8080
CONSOLE_HOST=http://localhost:8090

FIREBASE_ADMIN_CRED=JSON | "disabled"
