@use "@/u" as u;

.root {
  overflow: hidden;
  border-radius: 4px;

  box-shadow: 0 0 #{u.rem(12)} -#{u.rem(3)} var(--p-border-primary-0400);

  background-color: var(--p-bg-primary-1100);
  border: 1px solid var(--p-border-primary-0600);

  display: flex;
  flex-direction: column;

  --grid-row: #{u.rem(140)};
  --grid-col: #{u.rem(140)};
  --grid-padhor: #{u.rem(10)};
  --grid-padver: #{u.rem(10)};
  --grid-colgap: #{u.rem(15)};
  --grid-rowgap: #{u.rem(15)};
}

.list {
  pointer-events: auto;

  display: grid;
  grid-auto-rows: var(--grid-row);
  grid-template-columns: repeat(auto-fill, var(--grid-col));

  justify-content: space-between;

  row-gap: var(--grid-rowgap);
  column-gap: var(--grid-colgap);
  padding: var(--grid-padver) var(--grid-padhor);
}

.card {
  --card_img-layout_info-padding_ver: #{u.rem(7)};
  --card_img-layout_info-padding_hor: #{u.rem(10)};
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding: u.rem(10);
  gap: u.rem(10);
}

.nav__item {
  outline: none;

  flex-grow: 1;
  flex-shrink: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: u.rem(16);
  color: var(--p-text-primary-1000);

  padding: u.rem(8) u.rem(25);
  border-radius: 4px;
  border: 1px solid var(--p-border-primary-0400);

  transition: background-color u.$trtime_fast, color u.$trtime_fast, border-color u.$trtime_fast;

  &._active {
    color: var(--p-text-s_blue-1000);
    border-color: var(--p-bg-s_blue-1000);
    background-color: var(--p-bg-s_blue-1000);
  }

  &:not(._active) {
    cursor: pointer;
    background-color: var(--p-bg-primary-0900);

    &:hover,
    &:focus {
      background-color: var(--p-bg-primary-1200);
    }

    &:active {
      background-color: var(--p-bg-primary-1300);
    }
  }
}
