@font-face {
  font-family: "Roboto";
  font-weight: 100;
  src:
    local("Roboto"),
    url("../../assets/font/Roboto-100.ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 100;
  font-style: italic;
  src:
    local("Roboto"),
    url("../../assets/font/Roboto-100i.ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 200;
  src:
    local("Roboto"),
    url("../../assets/font/Roboto-200.ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 200;
  font-style: italic;
  src:
    local("Roboto"),
    url("../../assets/font/Roboto-200i.ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src:
    local("Roboto"),
    url("../../assets/font/Roboto-300.ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  src:
    local("Roboto"),
    url("../../assets/font/Roboto-300i.ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src:
    local("Roboto"),
    url("../../assets/font/Roboto-400.ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: italic;
  src:
    local("Roboto"),
    url("../../assets/font/Roboto-400i.ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src:
    local("Roboto"),
    url("../../assets/font/Roboto-500.ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: italic;
  src:
    local("Roboto"),
    url("../../assets/font/Roboto-500i.ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 600;
  src:
    local("Roboto"),
    url("../../assets/font/Roboto-600.ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 600;
  font-style: italic;
  src:
    local("Roboto"),
    url("../../assets/font/Roboto-600i.ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src:
    local("Roboto"),
    url("../../assets/font/Roboto-700.ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: italic;
  src:
    local("Roboto"),
    url("../../assets/font/Roboto-700i.ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 800;
  src:
    local("Roboto"),
    url("../../assets/font/Roboto-800.ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 800;
  font-style: italic;
  src:
    local("Roboto"),
    url("../../assets/font/Roboto-800i.ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 900;
  src:
    local("Roboto"),
    url("../../assets/font/Roboto-900.ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 900;
  font-style: italic;
  src:
    local("Roboto"),
    url("../../assets/font/Roboto-900i.ttf");
}
