@use "sass:color" as clr;
@use "sass:math" as math;

@function mul($left, $right) {
  @return $left * $right;
}

:root {
  --c-delete: #e53935;

  $bg__primary: #eeeeee;

  --p-bg-primary-1000: #{$bg__primary};
  --p-bg-primary-0900: #f6f6f6;
  --p-bg-primary-0800: #ffffff;
  --p-bg-primary-0700: #ffffff;
  --p-bg-primary-0600: #ffffff;
  --p-bg-primary-0500: #ffffff;
  --p-bg-primary-0400: #ffffff;
  --p-bg-primary-0300: #ffffff;
  --p-bg-primary-0200: #ffffff;
  --p-bg-primary-0100: #ffffff;
  --p-bg-primary-1100: #e6e6e6;
  --p-bg-primary-1200: #dedede;
  --p-bg-primary-1300: #d6d6d6;
  --p-bg-primary-1400: #cecece;
  --p-bg-primary-1500: #c6c6c6;
  --p-bg-primary-1600: #bebebe;
  --p-bg-primary-1700: #b6b6b6;
  --p-bg-primary-1800: #aeaeae;
  --p-bg-primary-1900: #a6a6a6;

  --p-text-primary-1000: #333333;
  --p-text-primary-0900: #3b3b3b;
  --p-text-primary-0800: #434343;
  --p-text-primary-0700: #4b4b4b;
  --p-text-primary-0600: #535353;
  --p-text-primary-0500: #5b5b5b;
  --p-text-primary-0400: #636363;
  --p-text-primary-0300: #6b6b6b;
  --p-text-primary-0200: #737373;
  --p-text-primary-0100: #7b7b7b;
  --p-text-primary-1100: #2b2b2b;
  --p-text-primary-1200: #232323;
  --p-text-primary-1300: #1b1b1b;
  --p-text-primary-1400: #131313;
  --p-text-primary-1500: #0b0b0b;
  --p-text-primary-1600: #030303;
  --p-text-primary-1700: #000000;
  --p-text-primary-1800: #000000;
  --p-text-primary-1900: #000000;

  --p-text_error-primary-1000: #e53935;
  --p-text_error-primary-0900: #3c3c3c;
  --p-text_error-primary-0800: #454545;
  --p-text_error-primary-0700: #4d4d4d;
  --p-text_error-primary-0600: #565656;
  --p-text_error-primary-0500: #5e5e5e;
  --p-text_error-primary-0400: #676767;
  --p-text_error-primary-0300: #6f6f6f;
  --p-text_error-primary-0200: #787878;
  --p-text_error-primary-0100: #808080;
  --p-text_error-primary-1100: #2b2b2b;
  --p-text_error-primary-1200: #222222;
  --p-text_error-primary-1300: #1a1a1a;
  --p-text_error-primary-1400: #111111;
  --p-text_error-primary-1500: #090909;
  --p-text_error-primary-1600: #000000;
  --p-text_error-primary-1700: #000000;
  --p-text_error-primary-1800: #000000;
  --p-text_error-primary-1900: #000000;

  --p-link-primary-1000: rgb(97, 93, 255);
  --p-link-primary-0900: rgb(107, 103, 255);
  --p-link-primary-0800: rgb(117, 113, 255);
  --p-link-primary-0700: rgb(127, 123, 255);
  --p-link-primary-0600: rgb(137, 133, 255);
  --p-link-primary-0500: rgb(147, 143, 255);
  --p-link-primary-0400: rgb(157, 153, 255);
  --p-link-primary-0300: rgb(167, 163, 255);
  --p-link-primary-0200: rgb(177, 173, 255);
  --p-link-primary-0100: rgb(187, 183, 255);
  --p-link-primary-1100: rgb(87, 83, 245);
  --p-link-primary-1200: rgb(77, 73, 235);
  --p-link-primary-1300: rgb(67, 63, 225);
  --p-link-primary-1400: rgb(57, 53, 215);
  --p-link-primary-1500: rgb(47, 43, 205);
  --p-link-primary-1600: rgb(37, 33, 195);
  --p-link-primary-1700: rgb(27, 23, 185);
  --p-link-primary-1800: rgb(17, 13, 175);
  --p-link-primary-1900: rgb(7, 3, 165);

  --p-text-primary-1000: #333333;
  --p-text-primary-0900: #3b3b3b;
  --p-text-primary-0800: #434343;
  --p-text-primary-0700: #4b4b4b;
  --p-text-primary-0600: #535353;
  --p-text-primary-0500: #5b5b5b;
  --p-text-primary-0400: #636363;
  --p-text-primary-0300: #6b6b6b;
  --p-text-primary-0200: #737373;
  --p-text-primary-0100: #7b7b7b;
  --p-text-primary-1100: #2b2b2b;
  --p-text-primary-1200: #232323;
  --p-text-primary-1300: #1b1b1b;
  --p-text-primary-1400: #131313;
  --p-text-primary-1500: #0b0b0b;
  --p-text-primary-1600: #030303;
  --p-text-primary-1700: #000000;
  --p-text-primary-1800: #000000;
  --p-text-primary-1900: #000000;

  --p-border-primary-1000: #888888;
  --p-border-primary-0900: #909090;
  --p-border-primary-0800: #989898;
  --p-border-primary-0700: #a0a0a0;
  --p-border-primary-0600: #a8a8a8;
  --p-border-primary-0500: #b0b0b0;
  --p-border-primary-0400: #b8b8b8;
  --p-border-primary-0300: #c0c0c0;
  --p-border-primary-0200: #c8c8c8;
  --p-border-primary-0100: #e0e0e0;
  --p-border-primary-1100: #808080;
  --p-border-primary-1200: #787878;
  --p-border-primary-1300: #707070;
  --p-border-primary-1400: #686868;
  --p-border-primary-1500: #606060;
  --p-border-primary-1600: #585858;
  --p-border-primary-1700: #505050;
  --p-border-primary-1800: #484848;
  --p-border-primary-1900: #404040;

  --p-bg-s_blue-1000: #6e8cff;
  --p-bg-s_blue-0900: #7691fe;
  --p-bg-s_blue-0800: #7e95fe;
  --p-bg-s_blue-0700: #8699fd;
  --p-bg-s_blue-0600: #8e9dfd;
  --p-bg-s_blue-0500: #96a1fc;
  --p-bg-s_blue-0400: #9ea5fc;
  --p-bg-s_blue-0300: #a6a9fb;
  --p-bg-s_blue-0200: #aeadfb;
  --p-bg-s_blue-0100: #b6b1fa;
  --p-bg-s_blue-1100: #5b79ff;
  --p-bg-s_blue-1200: #5272ff;
  --p-bg-s_blue-1300: #486aff;
  --p-bg-s_blue-1400: #3e61ff;
  --p-bg-s_blue-1500: #3459ff;
  --p-bg-s_blue-1600: #2a51ff;
  --p-bg-s_blue-1700: #2049ff;
  --p-bg-s_blue-1800: #1641ff;
  --p-bg-s_blue-1900: #0c39ff;

  --p-text-s_blue-1000: #ffffff;
  --p-text-s_blue-0900: #f8f8f8;
  --p-text-s_blue-0800: #f0f0f0;
  --p-text-s_blue-0700: #e8e8e8;
  --p-text-s_blue-0600: #e0e0e0;
  --p-text-s_blue-0500: #d8d8d8;
  --p-text-s_blue-0400: #d0d0d0;
  --p-text-s_blue-0300: #c8c8c8;
  --p-text-s_blue-0200: #c0c0c0;
  --p-text-s_blue-0100: #b8b8b8;
  --p-text-s_blue-1100: #ffffff;
  --p-text-s_blue-1200: #ffffff;
  --p-text-s_blue-1300: #ffffff;
  --p-text-s_blue-1400: #ffffff;
  --p-text-s_blue-1500: #ffffff;
  --p-text-s_blue-1600: #ffffff;
  --p-text-s_blue-1700: #ffffff;
  --p-text-s_blue-1800: #ffffff;
  --p-text-s_blue-1900: #ffffff;

  $bg__s_purp: #8200e7;
  $bg__s_purp__step: 5%;
  $bg__s_purp__target: #000000;

  --p-bg-s_purp-1000: #{$bg__s_purp};
  --p-bg-s_purp-0900: #{clr.mix($bg__primary, $bg__s_purp, mul($bg__s_purp__step, 1))};
  --p-bg-s_purp-0800: #{clr.mix($bg__primary, $bg__s_purp, mul($bg__s_purp__step, 2))};
  --p-bg-s_purp-0700: #{clr.mix($bg__primary, $bg__s_purp, mul($bg__s_purp__step, 3))};
  --p-bg-s_purp-0600: #{clr.mix($bg__primary, $bg__s_purp, mul($bg__s_purp__step, 4))};
  --p-bg-s_purp-0500: #{clr.mix($bg__primary, $bg__s_purp, mul($bg__s_purp__step, 5))};
  --p-bg-s_purp-0400: #{clr.mix($bg__primary, $bg__s_purp, mul($bg__s_purp__step, 6))};
  --p-bg-s_purp-0300: #{clr.mix($bg__primary, $bg__s_purp, mul($bg__s_purp__step, 7))};
  --p-bg-s_purp-0200: #{clr.mix($bg__primary, $bg__s_purp, mul($bg__s_purp__step, 8))};
  --p-bg-s_purp-0100: #{clr.mix($bg__primary, $bg__s_purp, mul($bg__s_purp__step, 9))};
  --p-bg-s_purp-1100: #{clr.mix($bg__s_purp__target, $bg__s_purp, mul($bg__s_purp__step, 1))};
  --p-bg-s_purp-1200: #{clr.mix($bg__s_purp__target, $bg__s_purp, mul($bg__s_purp__step, 2))};
  --p-bg-s_purp-1300: #{clr.mix($bg__s_purp__target, $bg__s_purp, mul($bg__s_purp__step, 3))};
  --p-bg-s_purp-1400: #{clr.mix($bg__s_purp__target, $bg__s_purp, mul($bg__s_purp__step, 4))};
  --p-bg-s_purp-1500: #{clr.mix($bg__s_purp__target, $bg__s_purp, mul($bg__s_purp__step, 5))};
  --p-bg-s_purp-1600: #{clr.mix($bg__s_purp__target, $bg__s_purp, mul($bg__s_purp__step, 6))};
  --p-bg-s_purp-1700: #{clr.mix($bg__s_purp__target, $bg__s_purp, mul($bg__s_purp__step, 7))};
  --p-bg-s_purp-1800: #{clr.mix($bg__s_purp__target, $bg__s_purp, mul($bg__s_purp__step, 8))};
  --p-bg-s_purp-1900: #{clr.mix($bg__s_purp__target, $bg__s_purp, mul($bg__s_purp__step, 9))};

  --p-text-s_purp-1000: #ffffff;
  --p-text-s_purp-0900: #f8f8f8;
  --p-text-s_purp-0800: #f0f0f0;
  --p-text-s_purp-0700: #e8e8e8;
  --p-text-s_purp-0600: #e0e0e0;
  --p-text-s_purp-0500: #d8d8d8;
  --p-text-s_purp-0400: #d0d0d0;
  --p-text-s_purp-0300: #c8c8c8;
  --p-text-s_purp-0200: #c0c0c0;
  --p-text-s_purp-0100: #b8b8b8;
  --p-text-s_purp-1100: #ffffff;
  --p-text-s_purp-1200: #ffffff;
  --p-text-s_purp-1300: #ffffff;
  --p-text-s_purp-1400: #ffffff;
  --p-text-s_purp-1500: #ffffff;
  --p-text-s_purp-1600: #ffffff;
  --p-text-s_purp-1700: #ffffff;
  --p-text-s_purp-1800: #ffffff;
  --p-text-s_purp-1900: #ffffff;

  $bg__s_red: #e53935;
  $bg__s_red__step: 5%;
  $bg__s_red__target: #000000;

  --p-bg-s_red-1000: #{$bg__s_red};
  --p-bg-s_red-0900: #{clr.mix($bg__primary, $bg__s_red, mul($bg__s_red__step, 1))};
  --p-bg-s_red-0800: #{clr.mix($bg__primary, $bg__s_red, mul($bg__s_red__step, 2))};
  --p-bg-s_red-0700: #{clr.mix($bg__primary, $bg__s_red, mul($bg__s_red__step, 3))};
  --p-bg-s_red-0600: #{clr.mix($bg__primary, $bg__s_red, mul($bg__s_red__step, 4))};
  --p-bg-s_red-0500: #{clr.mix($bg__primary, $bg__s_red, mul($bg__s_red__step, 5))};
  --p-bg-s_red-0400: #{clr.mix($bg__primary, $bg__s_red, mul($bg__s_red__step, 6))};
  --p-bg-s_red-0300: #{clr.mix($bg__primary, $bg__s_red, mul($bg__s_red__step, 7))};
  --p-bg-s_red-0200: #{clr.mix($bg__primary, $bg__s_red, mul($bg__s_red__step, 8))};
  --p-bg-s_red-0100: #{clr.mix($bg__primary, $bg__s_red, mul($bg__s_red__step, 9))};
  --p-bg-s_red-1100: #{clr.mix($bg__s_red__target, $bg__s_red, mul($bg__s_red__step, 1))};
  --p-bg-s_red-1200: #{clr.mix($bg__s_red__target, $bg__s_red, mul($bg__s_red__step, 2))};
  --p-bg-s_red-1300: #{clr.mix($bg__s_red__target, $bg__s_red, mul($bg__s_red__step, 3))};
  --p-bg-s_red-1400: #{clr.mix($bg__s_red__target, $bg__s_red, mul($bg__s_red__step, 4))};
  --p-bg-s_red-1500: #{clr.mix($bg__s_red__target, $bg__s_red, mul($bg__s_red__step, 5))};
  --p-bg-s_red-1600: #{clr.mix($bg__s_red__target, $bg__s_red, mul($bg__s_red__step, 6))};
  --p-bg-s_red-1700: #{clr.mix($bg__s_red__target, $bg__s_red, mul($bg__s_red__step, 7))};
  --p-bg-s_red-1800: #{clr.mix($bg__s_red__target, $bg__s_red, mul($bg__s_red__step, 8))};
  --p-bg-s_red-1900: #{clr.mix($bg__s_red__target, $bg__s_red, mul($bg__s_red__step, 9))};

  --p-text-s_red-1000: #ffffff;
  --p-text-s_red-0900: #f8f8f8;
  --p-text-s_red-0800: #f0f0f0;
  --p-text-s_red-0700: #e8e8e8;
  --p-text-s_red-0600: #e0e0e0;
  --p-text-s_red-0500: #d8d8d8;
  --p-text-s_red-0400: #d0d0d0;
  --p-text-s_red-0300: #c8c8c8;
  --p-text-s_red-0200: #c0c0c0;
  --p-text-s_red-0100: #b8b8b8;
  --p-text-s_red-1100: #ffffff;
  --p-text-s_red-1200: #ffffff;
  --p-text-s_red-1300: #ffffff;
  --p-text-s_red-1400: #ffffff;
  --p-text-s_red-1500: #ffffff;
  --p-text-s_red-1600: #ffffff;
  --p-text-s_red-1700: #ffffff;
  --p-text-s_red-1800: #ffffff;
  --p-text-s_red-1900: #ffffff;

  $bg__s_green: #28b531;
  $bg__s_green__step: 5%;
  $bg__s_green__target: #000000;

  --p-bg-s_green-1000: #{$bg__s_green};
  --p-bg-s_green-0900: #{clr.mix($bg__primary, $bg__s_green, mul($bg__s_green__step, 1))};
  --p-bg-s_green-0800: #{clr.mix($bg__primary, $bg__s_green, mul($bg__s_green__step, 2))};
  --p-bg-s_green-0700: #{clr.mix($bg__primary, $bg__s_green, mul($bg__s_green__step, 3))};
  --p-bg-s_green-0600: #{clr.mix($bg__primary, $bg__s_green, mul($bg__s_green__step, 4))};
  --p-bg-s_green-0500: #{clr.mix($bg__primary, $bg__s_green, mul($bg__s_green__step, 5))};
  --p-bg-s_green-0400: #{clr.mix($bg__primary, $bg__s_green, mul($bg__s_green__step, 6))};
  --p-bg-s_green-0300: #{clr.mix($bg__primary, $bg__s_green, mul($bg__s_green__step, 7))};
  --p-bg-s_green-0200: #{clr.mix($bg__primary, $bg__s_green, mul($bg__s_green__step, 8))};
  --p-bg-s_green-0100: #{clr.mix($bg__primary, $bg__s_green, mul($bg__s_green__step, 9))};
  --p-bg-s_green-1100: #{clr.mix($bg__s_green__target, $bg__s_green, mul($bg__s_green__step, 1))};
  --p-bg-s_green-1200: #{clr.mix($bg__s_green__target, $bg__s_green, mul($bg__s_green__step, 2))};
  --p-bg-s_green-1300: #{clr.mix($bg__s_green__target, $bg__s_green, mul($bg__s_green__step, 3))};
  --p-bg-s_green-1400: #{clr.mix($bg__s_green__target, $bg__s_green, mul($bg__s_green__step, 4))};
  --p-bg-s_green-1500: #{clr.mix($bg__s_green__target, $bg__s_green, mul($bg__s_green__step, 5))};
  --p-bg-s_green-1600: #{clr.mix($bg__s_green__target, $bg__s_green, mul($bg__s_green__step, 6))};
  --p-bg-s_green-1700: #{clr.mix($bg__s_green__target, $bg__s_green, mul($bg__s_green__step, 7))};
  --p-bg-s_green-1800: #{clr.mix($bg__s_green__target, $bg__s_green, mul($bg__s_green__step, 8))};
  --p-bg-s_green-1900: #{clr.mix($bg__s_green__target, $bg__s_green, mul($bg__s_green__step, 9))};

  --p-text-s_green-1000: #ffffff;
  --p-text-s_green-0900: #f8f8f8;
  --p-text-s_green-0800: #f0f0f0;
  --p-text-s_green-0700: #e8e8e8;
  --p-text-s_green-0600: #e0e0e0;
  --p-text-s_green-0500: #d8d8d8;
  --p-text-s_green-0400: #d0d0d0;
  --p-text-s_green-0300: #c8c8c8;
  --p-text-s_green-0200: #c0c0c0;
  --p-text-s_green-0100: #b8b8b8;
  --p-text-s_green-1100: #ffffff;
  --p-text-s_green-1200: #ffffff;
  --p-text-s_green-1300: #ffffff;
  --p-text-s_green-1400: #ffffff;
  --p-text-s_green-1500: #ffffff;
  --p-text-s_green-1600: #ffffff;
  --p-text-s_green-1700: #ffffff;
  --p-text-s_green-1800: #ffffff;
  --p-text-s_green-1900: #ffffff;
}
