@use "@/u" as u;

.root {
  flex-grow: 1;
  flex-shrink: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider__container {
  flex-grow: 0;
  flex-shrink: 0;

  padding: 0 u.rem(20);
}

