@use "@/u" as u;

$font_size: #{u.rem(16)};
$padding_ver: #{u.rem(10)};
$padding_hor: #{u.rem(20)};

.head {
  flex-shrink: 0;

  border-radius: 4px;
  border-style: solid;
  border-width: 2px;

  transition: background-color u.$trtime_fast, border-color u.$trtime_fast;

  &:not(._disabled) {
    border-color: transparent;
    background-color: transparent;

    &:hover,
    &._open {
      border-color: var(--p-bg-primary-1200);
      background-color: var(--p-bg-primary-1200);
    }

    &:focus-within {
      border-color: var(--p-bg-primary-1300);
      background-color: var(--p-bg-primary-1300);
    }

    &:not(._open) {
      cursor: pointer;
    }
  }

  &._disabled {
    cursor: not-allowed;
    border-color: var(--p-bg-primary-1200);
    background-color: var(--p-bg-primary-1200);
  }
}

.head__name,
.search__input,
.search__mask {
  font-size: #{$font_size};
  padding: #{$padding_ver} #{$padding_hor};
}

.head__icon {
  display: none;
  padding: 0 u.rem(20);
}

.list {
  border-radius: 4px;
  box-shadow: 0 0 u.rem(15) u.rem(-5) var(--p-border-primary-0900);

  --inoption-option-line_height: 1.5;
  --inoption-option-font_size: #{$font_size};
  --inoption-option-padding_hor: #{$padding_hor};
  --inoption-option-padding_ver: #{$padding_ver};
}

.list__content {
  max-height: 60vh;
  overflow: visible;
  background-color: var(--p-bg-primary-0800);

  border-radius: 4px;
  border: 2px solid var(--p-border-primary-0900);
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color u.$trtime_fast;

  &:not(._selected) {
    cursor: pointer;

    &:hover,
    &:focus-within {
      background-color: var(--p-bg-primary-1000);
    }

    &:active {
      background-color: var(--p-bg-primary-1100);
    }
  }

  &._selected {
    color: var(--p-text-primary-0600);
    background-color: var(--p-bg-primary-1200);
  }
}
