@keyframes pendingbar {
  0% {
    width: 0%;
    left: 0%;
  }

  33% {
    width: 50%;
    left: 0%;
  }

  66% {
    width: 50%;
    left: 50%;
  }

  100% {
    width: 0%;
    left: 100%;
  }
}

.card_pending__line {
  width: 80%;
  height: 6px;

  position: absolute;
  top: 50%;
  left: 50%;

  overflow: hidden;
  border-radius: 2px;

  background-color: var(--p-bg-primary-1900);

  transform: translateX(-50%) translateY(-50%);
}

.card_pending__line__bar {
  background-color: #5c9ded;

  position: absolute;
  top: 0;
  left: 0;

  width: 0;
  height: 100%;

  animation-name: pendingbar;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}
